@import '../core/theming/palette';
@import '../core/theming/theming';

@mixin md-datepicker-theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);

  .md-datepicker-trigger {
    color: md-color($foreground, hint-text);
    border-bottom: 1px solid md-color($foreground, divider);

    md-datepicker:focus & {
      color: md-color($primary);
      border-bottom: 1px solid md-color($primary);
    }

    .ng-invalid.ng-touched & {
      color: md-color($warn);
      border-bottom: 1px solid md-color($warn);
    }
  }

  .md-datepicker-arrow {
    color: md-color($foreground, hint-text);

    md-datepicker:focus & {
      color: md-color($primary);
    }

    .ng-invalid.ng-touched & {
      color: md-color($warn);
    }
  }

  .md-datepicker-content {
    background: md-color($background, card);
  }

  .md-datepicker-value {
    color: md-color($foreground, text);
  }
  
}
